<div class="">
    <div id="">
         <div>
          <a  class="logotext text-center m-auto"><img src="../../assets/images/logo.jpg" alt="" width="50px">Logo</a>
         </div>
        <nav class="navbar navbar-expand-lg ">
    
        <ul class="">
          <li>
            <a (click)="redirectTo('dashboard')">
              <img src="../../assets/images/dashboard.png" alt="" class="imagewidth"> Dashboard
            </a>
          </li>
          <li>
            <a (click)="redirectTo('classes')">
       <img src="../../assets/images/training.png" alt="" class="imagewidth"> Classes
            </a>
          </li>
          <li>
            <a (click)="redirectTo('resources')">
             <img src="../../assets/images/resource-allocation.png" alt="" class="imagewidth"> Resources
            </a>
          </li>
          <li>
            <a (click)="redirectTo('learningplan')">
               <img src="../../assets/images/goals.png" alt="" class="imagewidth"> Learning Plan
            </a>
          </li>
          <li>
            <a (click)="redirectTo('chat')">
              <img src="../../assets/images/bubble-chat.png" alt="" class="imagewidth"> Chat
            </a>
          </li>
          <li>
            <a (click)="redirectTo('setting')">
               <img src="../../assets/images/setting.png" alt="" class="imagewidth"> Setting
            </a>
          </li>
         
        </ul>
        <div class="stickyposition ">
            <div class="mt-2">Upgrade to <b>PRO</b> for <br>more resources </div>
    
            <div class="d-flex justify-content-center mt-2"><button class="btn btn-primary text-center">Upgrade</button></div>
        </div>
        </nav>
    
      
      </div>
</div>
